$nokia-font: 'NokianvirallinenkirjasinREGULAR';
$break-small: 767px;
#ns_body {
  max-width: 1180px;
  margin: 0 auto;
  a {
    text-decoration: none;
    color: inherit;
  }
  // HEADER
  .navbar-header {
    @media screen and (max-width: $break-small) {
      text-align: center;
    }
    .navbar-brand {
      img {
        width: 150px;
        height: auto;
      }
      @media screen and (max-width: $break-small) {
        display: inline-block;
        float: initial;
        padding-left: 60px;
      }
    }
  }
  #ns_navbar {
    a {
      color: #dedede;
      &:hover {
        color: white;
      }
    }
  }
  //SLIDER
  .ns_carousel {
    &#section {
      .unslider-nav, .unslider-arrow {
        display: none;
      }
    }
    margin-top: -20px;
    .unslider {
      margin-bottom: 20px;
      overflow: hidden;
      .ns_slider {
        img {
          width: 100%;
        }
      }
      .unslider-nav {
        margin-top: -20px;
        position: relative;
        z-index: 2;
        ol {
          li {
            background: #dcdcdc;
            border: 1px solid #b5b5b5;
            border-radius: 50%;
            height: 12px;
            width: 12px;
            &.unslider-active {
              background: white;
            }
          }
        }
      }
      .unslider-arrow {
        top: 45%;
        width: 32px;
        height: 32px;
        right: 30px;
        left: auto;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.2) no-repeat 50% 50%;
        background-image: url('slider-arrow-right.png');
        border-radius: 32px;
        text-indent: -999em;
        &.prev {
          left: 30px;
          right: auto;
          transform: rotate(-180deg);
        }
      }
    }
  }
  //TILES
  .ns_tiles {
    .ns_tile_element {
      border: 1px solid #ddd;
      margin-bottom: 10px;
      overflow: hidden;
      @media screen and (max-width: $break-small) {
      }
      &#element_with_image {
        h2 {
          display: inline-block;
          text-transform: uppercase;
        }
        img {
          width: 50%;
          &.image-right {
            padding-right: 0;
          }
          &.image-left {
            padding-left: 0;
          }
        }
      }
      &#element_without_image {
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  //ACCORDION
  .ns_accordion {
    a {
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
    .panel-heading {
      background: #222222;
      color: white;
    }
  }
  //FOOTER
  .ns_footer {
    background: #222222;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
}